mds/core/build.rs linguist-generated=true
mds/core/src/** linguist-generated=true
mds/core/tests/** linguist-generated=true
mds/cli/src/** linguist-generated=true
mds/cli/tests/** linguist-generated=true
mds/lsp/src/** linguist-generated=true
mds/lsp/tests/** linguist-generated=true
examples/minimal-ts/src/** linguist-generated=true
examples/minimal-ts/tests/** linguist-generated=true
examples/minimal-rs/src/** linguist-generated=true
examples/minimal-rs/tests/** linguist-generated=true
examples/minimal-py/src/** linguist-generated=true
examples/minimal-py/tests/** linguist-generated=true